button{
  background-color: rgb(255, 200, 128);
  border: 0px solid;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  padding:10px;
  font-size: 1rem;
  margin: 10px;
  color: #545654;
  font-weight: 600;
}

h1{
  font-size: 45px;
  text-align: center;
  text-shadow: 4px 2px 4px rgb(0, 0, 0,0.3);
  letter-spacing: 5px;
  /* background-color: beige; */
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  border-radius: 20px;
  /* background-color: aliceblue; */
  box-shadow: 0px 4px 10px rgb(0, 0, 0.2);
  width: 60vw;
  align-self:center;
  justify-self: center;
}

form>label{
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;

}

form>textarea{
  border: 0px;
  background-color: rgb(220, 255, 243);
  border-radius: 25px;
  padding: 2rem;
  color: black;
}

.result-container{
  background-color: rgb(255, 224, 202);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0.2);
  width: 60vw;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  
}
.buttons{
  display: flex;
}

.result-container > pre {
  font-size: 16px;
  font-weight: 600;
  white-space: pre-wrap;   /* preserves line breaks */
  word-wrap: break-word;   /* breaks long words */
  overflow-wrap: break-word;
  width: 100%;
}